<p>All the pizzas!</p>


<% for number in [1,2,3,4,5] %>
  <%= number %>
<% end%>

<% @orders.each do |order| %>


  <p>Name: <%= order.pretty_name() %></p>
  <p>Order: <%= order.quantity %> x <%= order.topping %> </p>
  <p><a href="/pizza_orders/<%= order.id %>">Show Order</a></p>


  <form method="post" action="/pizza_orders/<%= order.id %>/delete">
    <input type="submit" value="Delete Order"/></form>

  <form method="post" action="/pizza_orders/<%= order.id %>/update">
  <input type="submit" value="Update Order"/></form>

  <hr/>


<% end %>
